.article{
    border: 10px solid black;
    background-color: lightblue;
    margin: 40px;
    width: 500px;
    box-shadow: 50px 30px 20px gray;
}
.header{
    height: 1500px;
    background-image: url('/images/biriyani.jpg');
    background-repeat: no-repeat;
    /* background-size: 100px; */
    background-position: bottom right;
    /* background-color: lightcyan; */
}