.blog{
    background-color: lightpink;
    border: 10px solid blue;
    margin: 10px;
    padding: 10px;
}
h2{
    text-decoration: underline;
}
#second_blog{
    margin: 100px;
    background-color: aqua;
    /* display: none; */
    /* visibility: hidden; */
    color: red;

}
#lorem{
    color: red;
    border: 4px solid black;
    margin: 50px;
    /* padding: 10px; */
    width: 50px;
    height: 50px    ;
    display: block;
}
li{
    display:inline;
}