#div1{
    height: 1500px;
    background-image: url('/images/biriyani.jpg');
    background-repeat: no-repeat;
    /* background-size: 100px; */
    /* background-position: bottom right; */
    /* background-color: lightcyan; */
}